

/* PORTAL MAIN PREV CSS */
.area-info-content .info {
    padding: 5px 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px #aaa;
}

.info .info-date {
    padding: 0 10px;
    height: 60px;
    border-right: 2px solid var(--INST_PER_TEMA_1);
}

.info-date .date-day {
    margin-bottom: 2px;
    color: var(--INST_PER_TEMA_1);
}

.info-date .date-month {
    color: #333;
    width: 40px;
}

.info .info-content {
    padding: 0 4px 0 15px;
}

.info-content .content-title {
    margin-bottom: 5px;
    color: #333;
}

.info-content .content-desc,
.main-info-desc {
    color: #444;
}

.btn:focus {
    box-shadow: none !important;
}

.bg-color-secondary {
    background-color: #712706;
}

.main-areas {
    flex-wrap: wrap;
}

.notas-table-area {
    overflow: auto;
}

.table .mfn {
    background-color: #fed700;
}

.table .nf {
    color: red;
    background-color: #fed700;
}

.form-notas .select-control label {
    margin: 0;
    display: inline;
    visibility: hidden;
}

.form-notas [type="submit"] {
    margin-top: 10px;
    color: #f7f7f7;
    background-color: #39334e;
}

.notas-table-area .table-header th {
    color: #fff;
}

.notas-table-area tbody tr:nth-child(odd) {
    background-color: #eee;
}

.list-group .accordion {
    border: none !important;
}

.list-group .card {
    border: none;
    overflow: hidden;
    box-shadow: 0 0 1px #ddd;
}

.card .card-body {
    overflow-x: auto;
}

.list-group .year .card-header {
    border-radius: 2px;
    background: linear-gradient(45deg, #ddd, #ccc);
}

.list-group .year .btn {
    width: 100%;
    outline: 0;
    text-decoration: none;
    display: block;
}

.list-group .year button:focus {
    outline: 0 !important;
}

.user-perfil-data {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-separator .page-separator__text {
    border-radius: 0.25rem;
    background-color: #fff;
}

.separator-line {
    margin-bottom: 0 !important;
}

.atalho-area, .user-data-area {
    display: none;
    padding: 2px 4px !important;
}

.content-area {
    width: 100%;
    padding-top: 2px;
}

.card-content-area {
    flex-wrap: wrap;
}

.btn-user {
    color: #f7f7f7;
    background-color: #eca021 !important;
}

    .btn-user.active {
        background-color: #9b6407 !important;
    }

    .btn-user.btn-user:hover {
        color: #f7f7f7 !important;
    }

.accordion-title {
    padding: 3px !important;
}
/* PORTAL MAIN PREV CSS */




.pending-ad {
    background-color: #FED8B8 !important;
}

.sucess-ad {
    background-color: #BADBCC !important;
}

.denied-ad {
    background-color: #F5C2C7 !important;
}
/* //////////////////////////*/
.my-gap-4 {
    gap: 4px;
}

.my-gap-8 {
    gap: 8px;
}

.my-gap-12 {
    gap: 12px;
}

.my-gap-16 {
    gap: 16px;
}

.my-gap-24 {
    gap: 24px;
}

.my-gap-32 {
    gap: 32px;
}

.my-radius-4 {
    border-radius: 4px;
}

.my-radius-8 {
    border-radius: 8px;
}

.my-radius-16 {
    border-radius: 16px;
}

.hero-profile-picture::after {
    position: absolute;
    right: 12px;
    bottom: 12px;
    content: '';
    width: 16px;
    height: 16px;
    background-color: rgb(0, 195, 0);
    border: 3px solid #f4f2ee;
    border-radius: 100%;
}
/* //////////////////////////*/

#portal-container {
    background-color: #f4f2ee;
    transition: .3s;
    border-top: none !important;
    text-decoration: none !important;
}

    #portal-container a {
        border-top: none !important;
        text-decoration: none !important;
    }


.center-1440 {
    max-width: 1240px !important;
}

.fit-screen-100 {
    width: 100%;
    margin: 0 auto;
}

.hero-content {
    height: 220px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://rna.ao/rna.ao/wp-content/uploads/2020/10/Unipiaget.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}


.top-description-container {
    bottom: 16px;
    color: #fff;
}

    .top-description-container h3 {
        font-size: 20px;
        color: inherit;
    }

    .top-description-container li .fa-clock {
        color: #fff;
        padding: 4px;
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 4px;
    }

    .top-description-container li .fa-calendar-days {
        color: #fff;
        padding: 4px;
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 4px;
    }


.bottom-description-container {
    bottom: -108px;
    color: #1E2124;
}

    .bottom-description-container h1 {
        font-size: 24px;
    }

.top-description-container,
.bottom-description-container {
    left: 168px;
    height: 92px;
}

    .top-description-container span,
    .bottom-description-container span {
        font-size: 16px;
    }

    .bottom-description-container .fa-graduation-cap {
        color: #fe6347;
        padding: 4px;
        background-color: rgb(254,99,71, 0.2);
        border-radius: 4px;
    }

    .bottom-description-container .fa-address-card {
        color: #663399;
        padding: 4px;
        background-color: rgb(102, 51, 153, 0.2);
        border-radius: 4px;
    }


.social-media-ul {
    border-top: 1px solid #e1e1e1;
    padding-top: 8px;
}

    .social-media-ul i {
        font-size: 20px;
        transition: .3s;
    }

    .social-media-ul li:nth-child(1) a i {
        color: #1877F2;
    }

    .social-media-ul li:nth-child(2) a i {
        color: #0A66C2;
    }

    .social-media-ul li:nth-child(3) a i {
        color: #833AB4;
    }

    .social-media-ul li:nth-child(4) a i {
        color: #CD201F;
    }


.hero-profile-picture {
    width: 144px;
    height: 144px;
    background-color: gray;
    border-radius: 100%;
    border: 4px solid #f4f2ee;
    position: absolute;
    left: 0;
    bottom: -72px;
    transition: .3s;
}

    .hero-profile-picture img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

.main-center {
    padding: 140px 0 80px 0;
}


.filter-main-nav {
    width: 380px;
    height: fit-content;
    background-color: #1E2124;
    padding: 24px;
}

    .filter-main-nav ul li {
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        transition: .3s;
    }

        .filter-main-nav ul li a {
            width: 100%;
        }

        .filter-main-nav ul li,
        .filter-main-nav ul li a {
            color: #808080;
        }

.list-active {
    background-color: #fff;
    color: #000 !important;
}

.filter-main-nav ul li:hover {
    background-color: #fff;
    color: #000 !important;
    transform: scale(1.1);
}


.main {
    height: fit-content;
}


@media only screen and (max-width: 1024px) {
    .hero-profile-picture::after {
        right: 8px;
        bottom: 8px;
    }


    .top-description-container {
        left: 1.5rem;
        top: 8px;
        display: flex;
        flex-direction: column;
    }

        .top-description-container h3 {
            display: none;
        }

        .top-description-container ul {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .top-description-container li {
            align-self: flex-start;
        }


    .bottom-description-container {
        width: calc(100% - 16px);
        left: 50%;
        transform: translateX(-50%);
        bottom: -208px;
    }

        .bottom-description-container ul {
            flex-direction: column;
            gap: 4px;
        }

        .bottom-description-container ul,
        .bottom-description-container h1 {
            align-self: center;
        }

        .bottom-description-container span {
            text-align: center;
        }

    .top-description-container,
    .bottom-description-container {
        height: fit-content;
    }

    .social-media-ul {
        width: 100%;
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        gap: 16px !important;
    }


    .hero-profile-picture {
        width: 124px;
        height: 124px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -62px;
    }

    .content-container {
        gap: 0;
        justify-content: center;
    }

        .content-container nav {
            display: none !important;
        }

    .main-center {
        padding: 240px 0 80px 0;
    }

        .main-center h2 {
            padding: 0 1.5rem;
            display: block !important;
        }
}

/* ================================= 1 - PAINEL ================================= */
.painel-container{
    display: flex;
    flex-direction: column;
}
/* ********** blog-container ********** */
.blog-container{
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.blog-post{
    width: 268px;
    padding: 8px;
    background-color: #fff;
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 8px;
    transition: .3s;
}
.blog-post:hover,
.blog-post:active{
    transform: scale(1.02);
}
.blog-img-container img{
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
}
.blog-badge{
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    background-color: #CD201F;
}
.blog-description{
    margin-top: 16px;
    gap: 0px;
}
.blog-description{
    margin-top: 16px;
    gap: 12px;
}
.blog-title, 
.blog-paragraph,
.blog-date{
    margin-bottom: 0 !important;
}
.blog-title{
    font-size: 20px;
}
.blog-paragraph{
    color: #777777;
    font-size: 14px;
}
.blog-date{
    color: rgb(100, 100, 100) !important;
}

/* ********** aside-painel ********** */
.aside-painel{
    max-width: 836px;
    max-height: 280px;
    overflow-y: auto;
    background-color: #dedede;
    border-radius: 8px;
}
.aside-title,
.pdf-list{
    padding: 8px;
}
.aside-title{
    background-color: #1E2124;
}
.aside-title h5{ 
    color: #fff;
    margin-bottom: 0 !important;
}
.pdf-list{
    margin-bottom: 0 !important;
    padding-left: 8px !important;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.pdf-list h6{
    margin-bottom: 0 !important;
}
.pdf-list a{
    margin-left: 24px;
    color: #333;
}
.pdf-list span{
    text-decoration: underline;
}
.pdf-list span:hover,
.pdf-list span:active{
    color: #cea44b;
}

@media only screen and (max-width: 1024px){
    .blog-container{
        justify-content: center;
    }
    .aside-painel{
        width: calc(100% - 1.5rem);
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px){
    .blog-post{
        width: calc(100% - 1.5rem);
    }
}
/* ================================= 2 - CANDIDATURAS ================================= */